header{
    text-align: center;
    align-items: center;
}

h1{
    color: rgb(94, 74, 18);
    font-family: sans-serif;
}
   
h2{
    
}

body{
    background-color:rgb(232, 192, 141)
}

.foto1{
    max-height: 33%;
    max-width: 33%;
}

.titulo{
    max-width: 33%;
    max-height: 33%;
}

.ilustracao-prato{
    max-height: 50%;
    max-width: 50%;
}